/* Min Width 992px */
@media only screen and (min-width:992px){

    .nav-cat-menu .nav-item a.active{
        border-bottom: 2px solid var(--white-color);
    }

}
/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .nav-menu > li > a{
        font-size: 13px;
        margin-left: 12px;
    }

    .delivery-infos fieldset,
    .name-field,
    .delivery-options ul li{
        width: 100%;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){

    .single-slide{
        height: auto;
    }

    .shop-banner-content{
        margin-top: 40px;
    }

    .brand-image{
        height: 150px;
    }

    .category-wpr{
        grid-template-columns: 160px 1fr;
        grid-column-gap: 16px;
    }

    .sell-steps{
        padding: 0 10px;
    }

    .recent-dresses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    /* Mobile Nav */

    .nav-toggle{
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
    }

    .nav-toggle i{
        font-size: 20px;
        line-height: 30px;
        transition: var(--transition);
    }

    .aar-nav-menu{
        display: none;
    }

    .nav-cat-menu{
        position: absolute;
        display: none;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--primary-color);
        z-index: 10;
    }

    .nav-cat-menu .nav-item{
        display: block;
        text-align: center;
    }

    .nav-cat-menu .sub-menu{
        background-color: #d3d3d3;
    }

    .has-children i{
        display: inline-block;
        font-size: 10px;
    }
}

/* Max Width 767px */
@media only screen and (max-width:767px){

    .ads-scroll .item{
        text-align: center;
    }

    .nav-item .fa-search{
        display: inline-block;
    }
    
    .range-container{
        grid-template-columns: repeat(3,1fr);
    }

    .arr-cat-2 .cat-wpr{
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    }

    .campaign-slider .camp-content{
        text-align: center;
    }

    .arr-cat-menu{
        padding: 20px 10px;
    }

    .single-order{
        margin-bottom: 16px;
    }

    .single-order img{
        margin-bottom: 10px;
    }

    .arr-cart-total {
        height: 60px;
        overflow: hidden;
        margin-bottom: 24px;
        transition: height var(--transition);
    }

    .arr-cart-total.show{
        height: auto;
    }

    .single-step:not(:last-of-type)::before{
        left: 58%;
        width: 83%;
    }

    .category-wpr{
        grid-template-columns: 1fr;
    }

    .category-wpr .cat-filter-widget{
        display: none;
    }

    .category-wpr.hide .cat-filter-widget{
        display: block;
    }

    .footer-widget{
        margin-bottom: 16px;
    }

    .footer-widget h6{
        margin-bottom: 10px;
    }
}

/* Max Width 575px */
@media only screen and (max-width:575px){

    .single-slide .banner-content{
        text-align: center;
    }

    .cat-image img{
        width: 100%;
        object-fit: cover;
    }

    .sell-steps{
        justify-items: flex-start;
    }

    .single-review .review{
        border-left: none;
        margin-top: 16px;
        padding-left: 0;
        height: auto;
    }

    .thumb-images{
        display: none;
    }

    .dress-images .slide-images{
        position: relative;
    }
    
}

/* Max Width 480px */
@media only screen and (max-width:480px){

    .cat-content h1,
    .banner-content h1{
        font-size: 45px;
    }

    .campaign-slider .camp-content{
        position: relative;
        padding: 24px 0;
        background-color: var(--primary-color);

    }

    .camp-content h2{
        font-size: 26px;
    }

    .aar-acc-menu{
        display: block;
        border: none;
        text-align: center;
    }

    .aar-acc-menu li a{
        display: block;
        color: var(--white-color);
        background-color: var(--primary-color);
        margin: 2px 0;
    }

    .aar-acc-menu li a.active{
        background-color: #474747;
    }

    .aar-sign{
        padding: 40px 0;
    }

    .aar-reviews-sorting{
        padding: 16px;
    }

    .footer-newsletter{
        align-items: flex-start;
    }

    .footer-top{
        flex-wrap: wrap;
    }

    .footer-newsletter input:not([type="checkbox"]){
        width: 380px;
    }

    .footer-newsletter p{
        text-align: left;
    }
}

/* Max Width 380px */
@media only screen and (max-width:380px){

    .edit-details-form fieldset{
        grid-template-columns: 120px 180px;
    }

    .aar-banner .single-slide img{
        height: 230px;
    }

    h2{
        font-size: 35px;
    }

    .aar-category{
        padding-top: 0;
    }

    .range-container{
        grid-template-columns: repeat(2,1fr);
    }

    .single-step{
        align-items: flex-start;
        text-align: left;
    }
    
    .single-step:not(:last-of-type)::before{
        left: 27%;
        width: 74%;
    }

    .cus-address div[class^="col-6"]{
        width: 100%;
        margin-bottom: 24px;
    }

    .arr-cat-menu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 16px;
        text-align: center;
        margin-bottom: 16px;
    }

    .footer-newsletter input:not([type="checkbox"]){
        width: 280px;
    }

    .aar-reviews-sorting div[class^="col-"]{
        width: 100%;
        margin-bottom: 16px;
    }
}

/* Max Width 320px */
@media only screen and (max-width:320px){

    .banner-content h1{
        font-size: 38px;
    }

    .edit-details-form fieldset{
        grid-template-columns: 120px 160px;
        grid-gap: 16px;
    }

    .sec-meta-data{
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }
}