@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root{

    /* Colors */
    --primary-color:#222222;
    --secondary-color:#1A53BD;
    --heading-color:#243E8B;
    --text-color:#222222;
    --sec-text-color:#5d6778;
    --white-color:#fff;

    /* Typography */
    --body-font: 'Zen Kaku Gothic New', sans-serif;
    --title-font: 'Zen Kaku Gothic New', sans-serif;
    --font-weight-small:300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    /* Others */
    --transition: 0.3s;
    --shadow: rgb(0 0 0 / 8%);
    --blur-big: 40px;
    --blur-small: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
    vertical-align: baseline;
    transition: var(--transition)
}

img {
    max-width: 100%;
    height: auto;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
    font-weight: var(--font-weight-medium);
    margin-bottom: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h4{
    font-weight: var(--font-weight-medium);
}

h5{
    font-size: 16px;
}

p{
    font-size: 14px;
    color: var(--text-color);
    font-family: var(--body-font);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li{
    list-style: none;
    font-family: var(--body-font);
}

a{
    font-size: 14px;
    font-family: var(--body-font);
    color: var(--text-color);
    text-decoration: none;
    transition:var(--transition);
}

a:hover,
li.active a{
    color: var(--primary-color);
}

input[type="email"],
input[type="text"],
textarea,
input[type="phone"],
button {
    outline: none;
}

/* General Css */

.mt-40{
    margin-top: 40px;
}

.mt-50{
    margin-top: 50px;
}

.mt-60{
    margin-top: 60px;
}

.mt-100{
    margin-top: 100px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.pt-40{
    padding-top: 40px;
}

.pt-50{
    padding-top: 50px;
}

.pt-70{
    padding-top: 70px;
}

.pt-80{
    padding-top: 80px;
}

.pt-100{
    padding-top: 100px;
}

.pt-200{
    padding-top: 200px;
}

.pt-300{
    padding-top: 300px;
}

.pb-40{
    padding-bottom: 40px;
}

.pb-50{
    padding-bottom: 50px;
}

.pb-60{
    padding-bottom: 60px;
}

.pb-80{
    padding-bottom: 80px;
}

.pb-100{
    padding-bottom: 100px;
}

.px-50{
    padding: 0 50px;
}

.px-100{
    padding: 0 100px;
}

.py-80{
    padding: 80px 0;
}

.sec-spacer{
    padding: 50px 0;
}

/* Header */

.aar-main-nav{
    width: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.aar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-cat-menu .nav-item a{
    font-weight: var(--font-weight-bold);
    margin: 0 20px;
}

.nav-cat-menu .nav-item a.active{
    border-bottom: 2px solid var(--white-color);
}

.nav-left{
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-toggle{
    display: none;
}

.aar-nav-menu{
    background-color: #D04FC4;
}

.nav-menu > li > a{
    font-size: 13px;
    padding: 10px 0;
}

.nav-item{
    display: inline-block;
}

.nav-item a{
    display: block;
    color: var(--white-color);
    margin-left: 20px;
    padding: 16px 0;
    text-transform: uppercase;
}

.nav-search{
    position: relative;
    width: 100%;
    margin: 0 10px;

}

.nav-search input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #d3d3d3;
    padding: 8px 14px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.nav-search .search-icon{
    position: absolute;
    top:8px;
    right: 8px;
    color: var(--primary-color);
}

.nav-icon{
    display: inline-block;
    margin-left: 16px;
    padding: 16px 0;
    cursor: pointer;
}

.nav-item .fa-search{
    display: none;
}

.nav-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(255,255,255,1);
    padding: 30px 16px;
    transition: var(--transition);
    z-index: 10;
}

.nav-modal.show{
    display: block;
}

.serach-close{
    display: block;
    margin-bottom: 10px;
    text-align: right;
    cursor: pointer;
}

.aar-toolbar{
    background-color: #f5e7cc;
    padding: 10px 0;
}

.ads-scroll .item h5{
    font-size: 18px;
}

/* Mega Menu */

.aar-mega-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: max-content;
    display: none;
    background-color: var(--white-color);
    padding: 20px;
    z-index: 100;
    transition: var(--transition);
}

.aar-mega-menu > div:not(:last-of-type){
    border-right: 1px solid #d3d3d3;
}

.single-menu h5{
    text-decoration: underline;
}

.single-menu a{
    font-size: 12px;
    font-weight: var(--font-weight-medium);
    color: var(--primary-color);
    padding: 2px 0;
    text-transform: capitalize;
}

.round-img{
    border-radius: 50%;
}

.nav-item.has-children:hover .aar-mega-menu{
    display: flex;
}

.hoz-cat-list li{
    margin-bottom: 5px;
}

.hoz-cat-list li a{
    display: flex !important;
    height: 100%;
    border-bottom: 1px solid #d3d3d3;
    margin-left: 0 !important;
    align-items: center;
}

.aar-mega-menu .dress-content a{
    font-size: 15px;
    color: var(--primary-color);
}

/* Banner */

.single-slide{
    position: relative;
    height: calc(100vh - 120px);
}

.single-slide .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.banner-content h1{
    font-size: 65px;
    margin-bottom: 8px;
}

.aar-banner .owl-dots{
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%,-5%);
}

.aar-banner .owl-dots .owl-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--white-color);
    outline: none;
    margin: 0 5px;
}

.aar-banner .owl-dots .owl-dot.active{
    background-color: var(--white-color);
}

/* Category */

.single-cat .cat-image{
    position: relative;
    border-radius: 5px;
    transition: var(--transition);
}

.cat-image img{
    border-radius: 5px;
}

.cat-image:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
}

.cat-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--white-color);
    padding-bottom: 32px;
}

.cat-content h1,
.banner-content h1{
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

.cat-content a{
    display: block;
    font-size: 20px;
    text-decoration: underline;
    color: var(--white-color);
    text-align: center;
}

.single-cat h4{
    position: absolute;
    width: 100%;
    bottom: 30px;
    text-align: center;
}

/* New Arrival */

.arrive-tab-links{
    justify-content: center;
}

.arrive-tab-links li a{
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: underline;
}

.arrive-tab-links li a.active,
.arrive-tab-links li a:hover{
    color: var(--primary-color);
}

.single-dress .dress-image{
    position: relative;
}

.dress-image .image-overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    padding: 24px;
    opacity: 0;
    transition: var(--transition);
}

.dress-image:hover .image-overlay{
    opacity: 1;
}

.image-overlay a{
    font-weight: var(--font-weight-medium);
}

.dress-image .tag{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 40px;
    font-size: 12px;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 2px 4px;
    text-align: center;
}

.single-dress .dress-content{
    padding: 16px 8px;
}

.dress-slider .owl-nav .owl-prev,
.dress-slider .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 16px;
  color: var(--text-color);
  width: 40px;
  height: 40px;
  background-color: var(--white-color) !important;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.3s;
}

.owl-nav .owl-next {
    right: 0;
    border-radius: 5px 0 0 5px !important;
}

.owl-nav .owl-prev {
  left: 0;
}

/* Shop Range */

.range-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}

.single-range h5{
    font-size: 18px;
    font-weight: var(--font-weight-semi-bold);
    padding: 16px 0;
}

.range-image{
    transition: var(--transition);
}

.range-image:hover{
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}

/* Brands */

.brand-image{
    position: relative;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.brand-image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--transition);
}

.image2{
    visibility: hidden;
    opacity: 0;
}

.brand-image:hover .image1{
    visibility: hidden;
    opacity: 0;
}

.brand-image:hover .image2{
    visibility: visible;
    opacity: 1;
    transform: scale(1.14);
}

/* Shop Campaign */

.sec-heading p{
    max-width: 600px;
    margin: 10px auto 0;
}

.campaign-slider .single-slide{
    position: relative;
    height: auto;
}

.campaign-slider .camp-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.campaign-slider .shop-btn{
    color: var(--white-color);
    border-color: var(--white-color);
}

.campaign-slider .owl-nav .owl-prev,
.campaign-slider .owl-nav .owl-next {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  font-size: 16px;
  color: var(--text-color);
  width: 40px;
  height: 40px;
  background-color: var(--white-color) !important;
  border-radius: 0 5px 5px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: 0.3s;
}

/* Shop Banner */

.shop-banner-images img{
    display: inline;
    border: 3px solid var(--primary-color);
}

.dim-image{
    position: relative;
    top: -20px;
    z-index: -1;
    left: -40px;
}

.shop-btn{
    display: inline-block;
    padding: 5px 20px;
    font-weight: var(--font-weight-medium);
    border: 1px solid var(--primary-color);
    margin-top: 16px;
}

/* Category Page */

.aar-breadcrumb .breadcrumb-link{
    position: relative;
    display: inline-block;
    color: var(--text-color-light);
    padding: 0 10px;
}

.breadcrumb-link.active{
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
}

.aar-breadcrumb .breadcrumb-link:not(:last-of-type)::after{
    position: absolute;
    content: "/";
    right: -5px;
    font-size: 14px;
}

.filter-toggle{
    font-size: 20px;
    color: #d3d3d3;
    cursor: pointer;
    transition: var(--transition);
}

.filter-box select{
    font-size: 14px;
    border: 1px solid #d3d3d3;
    outline: none;
}

.arr-cat-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 120px;
}

.arr-cat-menu ul li a{
    text-decoration: underline;
    text-align: center;
}

.category-wpr{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 24px;
    transition: var(--transition);
}

.category-wpr.hide{
    grid-template-columns: 1fr;
}

.category-wpr.hide .cat-filter-widget{
    display: none;
}

.aar-filter{
    padding: 10px 8px;
    border-bottom: 1px solid #e7e7e7;
}

.filter-label {
    position: relative;
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    margin-bottom: 8px;
    cursor: pointer;
}

.filter-content {
    transition: var(--transition);
}

.filter-label.active ~ .filter-content {
    height: 0;
    overflow-y: hidden;
}

.filter-content input[type="checkbox"]{
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.filter-content li span{
    font-size: 13px;
}

.filter-content.hoz-content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 6px;
    height: 115px;
    padding-bottom: 10px;
}

.filter-content.hoz-content::-webkit-scrollbar{
    width: 3px;
}

.filter-content.hoz-content::-webkit-scrollbar-thumb{
    background-color: #e7e7e7;
    border-radius: 0.5rem;
}

.hoz-content li{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoz-content li input[type="radio"]{
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid var(--primary-color);
}

.hoz-content input[type="radio"]:checked{
    border-width: 2px;
}

.size-filter label span{
    position: absolute;
    left: 50%;
    line-height: 25px;
    transform: translateX(-50%);
}

.single-cat-dress{
    display: none;
    margin-bottom: 24px;
}

.single-cat-dress .dress-image{
    position: relative;
}

.dress-image .tag{
    top:auto;
    left: 0;
    bottom: 30px;
    width: 100px;
    padding: 5px;
}

.single-cat-dress .dress-content{
    padding: 16px 0;
}

.single-cat-dress .meta-data{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 2px;
}

.single-cat-dress .price{
    color: red;
}

.single-cat-dress .dress-title{
    font-size: 15px;
    margin-top: 10px;
}

.total-products{
    border-top: 1px solid var(--primary-color);
    padding: 24px 0;
    text-align: center;
}

.total-products .load-btn{
    display: inline-block;
    width: 50%;
    border: .5px solid var(--primary-color);
    padding: 5px;
    margin-top: 16px;
}

.arr-cat-2{
    position: relative;
    background: linear-gradient(to right, #2980B9, #6DD5FA);
    padding: 50px 16px 24px;
}

.sec-heading-2{
    position: absolute;
    left: 20px;
    top: -24px;
    min-width: 180px;
    background-color: var(--white-color);
    border: 3px solid #6DD5FA;
    border-radius: 30px;
    text-align: center;
    padding: 4px 0;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.arr-cat-2 .cat-wpr{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 16px;
}

.arr-cat-2 .single-cat{
    display: flex;
    gap: 8px;
    background-color: var(--white-color);
    align-items: center;
    padding: 24px 16px;
}

.arr-cat-2 .single-cat img{
    width: 50px;
}

/* Range Filter */

.price-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0 16px;
}

.price-input .field{
    width: 50px;
    height: 20px;
    font-size: 14px;
    align-items: center;
}
.field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 12px;
    margin-left: 5px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator{
    width: max-content;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    padding: 0 2px;
}

.slider{
    height: 4px;
    position: relative;
    background: #d3d3d3;
    border-radius: 5px;
    margin-bottom: 10px;
}
  .slider .progress{
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: var(--primary-color);
  }
  .range-input{
    position: relative;
  }
  .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -15px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: var(--primary-color);
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }
  input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17A2B8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
  }

/* Footer */

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-newsletter p{
    text-align: center;
    max-width: 550px;
    margin: 16px 0 20px;
}

.footer-newsletter input:not([type="checkbox"]){
    width: 400px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    padding: 8px 10px;
}

.footer-newsletter label{
    font-size: 13px;
}

.footer-newsletter button{
    position: absolute;
    top: 0;
    right: 0;
    width: max-content;
    height: 100%;
    color: var(--white-color);
    border: none;
    outline: none;
    background-color: var(--primary-color);
    padding: 0 8px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-widget h6{
    font-size: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.footer-bottom{
    text-align: center;
    padding: 10px 0;
}

.footer-social-menu a{
    display: inline-block;
    font-size: 18px;
    margin-right: 16px;
}

